@import "../template/websiteTemplate"

brandGradientBackground()

#content
	absolute top 80px left 120px;
	font-family 'Open Sans';
	#logoGraphic
		logoGraphic(68);
	#logoName
		logoName(157, 67); margin 40px 0 0 0;
		h1
			display none;
	#slogan
		bgImg('theMostExpressive', 356, 63); margin 10px 0 0 0;
		.text
			display none;
	#getDogo.button
		padding 8px 8px 4px 10px; margin 40px 0; font-size 20px; text-shadow none; font-weight 100; border-radius 6px;
		.graphic
			bgImg('getDogo', 118, 30)
		.link
			display none;

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (device-width: 320px) and (max-device-width: 480px)
	body
		background-image none
	#content
		absolute top 0 left 0; width 320px; height 420px;
		#logo
			top 40px; left 20px;
		#info
			top 160px; left 30px;