@import "../template/websiteTemplate"

html
	margin 0;

brandGradientBackground()

#content
	padding 80px 0 0 120px;
	font-family 'Open Sans', Arial, sans-serif;
	#logoIcon
		disable-select(); bgImg('logoIcon', 96, 96);
	#logoName
		disable-select(); bgImg('logoName', 156, 64); margin-top 30px;
		h1
			display none;
	#slogan
		bgImg('theMostExpressive', 290, 50); margin 20px 0 0 0;
		.text
			display none;
	#getDogo.button
		padding 14px 18px; margin 26px 0 0; font-size 20px; text-shadow none; font-weight 100; border-radius 6px;
		.graphic
			bgImg('getDogo', 102, 15)
		.link
			display none;

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (device-width: 320px) and (max-device-width: 480px)
	#webpage
		min-height 418px;
	#content
		padding 28px 0 40px 16px;
		#logo
			absolute top 40px left 20px;
		#info
			absolute top 160px left 30px;

@media only screen and (device-height: 568px)
	#webpage
		min-height 506px;