@import "../template/base"
@import "./macros"

.sections
	width 100%;
	.section
		padding 40px; margin 40px; border 1px solid #433; border-radius 3px;
		.title
			font-size 30px;

.logo
	logo();

.red-linen
	background-image url('/img/red-linen.jpg');
