./node_modules
._*
.DS_Store
xcuserdata
project.xcworkspace
build
*.pyc
dump.rdb
phantom-screen.png
node_modules
src/graphics/mobileApp/emoji
secrets/dev
secrets/dev.tar
secrets/prod
secrets/prod.tar
