[submodule "node_modules/mocha"]
	path = node_modules/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "dependencies/facebook-ios-sdk"]
	path = dependencies/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "node_modules/uuid"]
	path = node_modules/uuid
	url = https://github.com/broofa/node-uuid.git
[submodule "node_modules/mysql"]
	path = node_modules/mysql
	url = https://github.com/felixge/node-mysql.git
[submodule "node_modules/redis"]
	path = node_modules/redis
	url = git@github.com:marcuswestin/node_redis.git
[submodule "node_modules/request"]
	path = node_modules/request
	url = https://github.com/mikeal/request.git
[submodule "node_modules/apn"]
	path = node_modules/apn
	url = https://github.com/argon/node-apn.git
[submodule "node_modules/nib"]
	path = node_modules/nib
	url = https://github.com/visionmedia/nib.git
[submodule "node_modules/require"]
	path = node_modules/require
	url = git@github.com:marcuswestin/require.git
[submodule "node_modules/std"]
	path = node_modules/std
	url = git@github.com:marcuswestin/std.js.git
[submodule "node_modules/optimist"]
	path = node_modules/optimist
	url = https://github.com/substack/node-optimist.git
[submodule "node_modules/watch"]
	path = node_modules/watch
	url = https://github.com/mikeal/watch.git
[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "node_modules/tags"]
	path = node_modules/tags
	url = git@github.com:marcuswestin/tags.js.git
[submodule "node_modules/aws2js"]
	path = node_modules/aws2js
	url = https://github.com/SaltwaterC/aws2js.git
[submodule "node_modules/express"]
	path = node_modules/express
	url = https://github.com/visionmedia/express.git
[submodule "dependencies/blowtorch"]
	path = dependencies/blowtorch
	url = git@github.com:marcuswestin/blowtorch.git
[submodule "node_modules/stylus"]
	path = node_modules/stylus
	url = https://github.com/LearnBoost/stylus.git
[submodule "node_modules/imagemagick"]
	path = node_modules/imagemagick
	url = git://github.com/rsms/node-imagemagick.git
[submodule "node_modules/semver"]
	path = node_modules/semver
	url = git://github.com/isaacs/node-semver.git
[submodule "node_modules/marked"]
	path = node_modules/marked
	url = git://github.com/chjj/marked.git
[submodule "node_modules/underscore"]
	path = node_modules/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "node_modules/tinyTest"]
	path = node_modules/tinyTest
	url = git@github.com:marcuswestin/tinyTest.js.git
[submodule "dependencies/emoji-extractor"]
	path = dependencies/emoji-extractor
	url = git@github.com:FlutterbyLabs/emoji-extractor.git
[submodule "node_modules/bcrypt"]
	path = node_modules/bcrypt
	url = git://github.com/ncb000gt/node.bcrypt.js.git
[submodule "node_modules/node-color"]
	path = node_modules/node-color
	url = git@github.com:marcuswestin/node-color.git
