[submodule "node_modules/mocha"]
	path = node_modules/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "node_modules/fun"]
	path = node_modules/fun
	url = git@github.com:marcuswestin/fun.git
[submodule "dependencies/facebook-ios-sdk"]
	path = dependencies/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "dependencies/blowtorch"]
	path = dependencies/blowtorch
	url = git@github.com:marcuswestin/blowtorch.git
