gradientLight = #D6DDE2
gradientDark = #B0BAC2

// http://www.colourlovers.com/palette/92095/Giant_Goldfish
color1 = #71D1EA
color2 = #AADBD8
color3 = #E0E4C9
color4 = #EF8805
color5 = #F56B00

headGr1 = color4
headGr2 = color5
headTxtSh = #888