@import "./normalize"

gradientLight = #D6DDE2
gradientDark = #B0BAC2

// http://www.colourlovers.com/palette/92095/Giant_Goldfish
color1 = #71D1EA
color2 = #AADBD8
color3 = #E0E4C9
color4 = #EF8805
color5 = #F56B00

// http://azuliadesigns.com/css-message-notification-bars/
blueLight = #BDE5F8
blueDark = #00529B
greenLight = #DFF2BF
greenDark = #4F8A10
yellowLight = #FEEFB3
yellowDark = #9F6000
redLight = #FFBABA
redDark = #D8000C

headGr1 = color4
headGr2 = color5
textShadow = 0 1px 0 #888;
buttonShadow = 0 1px 2px #444;

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

animate-rotation(duration)
	-webkit-transition-property: -webkit-transform; -webkit-transition-duration: duration;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: duration;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

icon(width, height, name, xOffset=0, yOffset=0)
	width width+xOffset; height height+yOffset; background transparent xOffset yOffset no-repeat;
	background-image url('//blowtorch/img/glyphish/'+name); background-size width height;

.blue
	background blueLight; color blueDark; border-color blueDark;

.green
	background greenLight; color greenDark; border-color greenDark;

.yellow
	background yellowLight; color yellowDark; border-color yellowDark;

.red
	background redLight; color redDark; border-color redDark;


.app
	background linear-gradient(top, color2, #fff); height 100%; overflow hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/Copy of UIWebView */
	position relative;

.scroller-head
	z-index 1; box-shadow 0 1px 4px #333;
.scroller-head.flat
	box-shadow none;

	
.head
	height 100%; width 100%; overflow hidden;
	background linear-gradient(top, headGr1, headGr2); borderTop 1px solid #E3E9ED;
	.title
		text-shadow textShadow; color:#fff; font-size 16px; padding 0 4px;
		font-size 20px; text-align center; padding 8px 0 0 0; font-weight 600;
	.back
		absolute top 4px left 4px; border-width 2px;
	.search-control
		.search, .search.active
			absolute top 4px right 4px; width 11px; height 19px;
			background #fff; border-color color3; //overflow hidden;
			.icon
				icon(32px, 21px, 'gray/112-group.png', 0, 5px); absolute top left;
		.input
			inputWidth = 300px;
			background red; width inputWidth; height 30px;
			absolute top 4px right; background #fff;
			box-shadow buttonShadow;
			border 2px solid color3; border-radius 3px;
			-webkit-transform translateX(inputWidth + 30px)
			-webkit-transition -webkit-transform .4s;
	.search-control.expand
		.input
			-webkit-transform translateX(3px)
	.devBar
		absolute top right 50px;
		.button
			margin 4px 2px 0;
	
	

.connect, .invite
	text-align center; width 100%;
	.button
		font-size 22px; text-shadow textShadow; margin 0 auto; padding 6px 8px 8px;
	.button.active
		text-shadow none;
.connect .button
	font-weight bold; margin 160px auto; width 120px; 
.invite .button
	width 210px;

.home
	.ghostTown
		position relative; top 10px; margin-left 20px;
		.arrow.icon
			icon(23px, 17px, 'white/213-reply.png');
			-webkit-transform: rotate(120deg);
			margin 0 0 1px 6px; display inline-block;
			
	.section
		.header
			height 40px; background color4; color #fff; // gradient(color4, color5); 
			.label
				padding 9px; text-shadow textShadow;
	.conversations
		min-height 254px;
		.messageBubble
			.name, .body
				padding 3px 5px 0 5px;
			.unreadDot
				width 20px; height 20px; background color1; border-radius 10px;
				float right; margin 15px 8px 0 0; display none;
		.messageBubble.hasUnread .unreadDot
				display block;
		.youStarted
			color #666; font-style italic;
	.friends
		padding 1px 0 0 2px;
		.face
			float left; margin 2px 2px 1px 1px;
	

buttonRadius = 4px;
.button
	padding 5px 10px 7px; border-radius buttonRadius; background linear-gradient(top, color4, color5); border 2px solid #fff;
	color #fff; text-align center; display inline-block; cursor pointer; box-shadow buttonShadow;
.button.active
	background linear-gradient(bottom, darken(color4, 10%), color5); border-color #eee; color #eee;
	box-shadow none;


faceDim = 50px
.face
	width faceDim; height faceDim;
	.member-ribbon
		width 16px; height 16px; background url("//blowtorch/img/badge.png"); float right; margin 32px 0 0;

.loading-wrapper
	absolute top 0 right 5px; width 31px; height 31px; border-radius 0 0 4px 4px; border 1px solid rgba(blueDark, .7);
	background rgba(blueDark, .5); z-index 1; transition -webkit-transform 0.5s;
	.icon
		absolute top 2px left 3px; icon(26px, 26px, 'white/171-sun.png', 0, 0); animate-rotation(1.5s)

.loading
	color #666; text-align center; margin 10px auto; font-style italic;

.messageBubble
	margin 4px 4px 0; min-height 50px; border-radius 5px; background #fff; border 3px solid color4; word-wrap break-word;
	.face
		float left; border-radius 2px 1px 2px 1px; margin 0 6px 0 0;
.messageBubble.fromMe
	text-align right;
	.face
		float right; border-radius 1px 2px 1px 2px; margin 0 0 0 6px;

.conversation
	.messages
		padding 0 0 44px 0;
	.messageBubble
		.body
			padding 4px 1px;
		.picture
			border-radius 2px;
			
	.dogo-info
		width 100%; margin 4px 0; padding 4px 0 10px 0; border-width 1px 0; border-style solid;
		.encouragement
			font-size 23px; margin 0 0 4px 0;
		.button
			margin-top 4px;
	
	.composer
		position absolute; bottom 0; width 320px; padding 0;
		background linear-gradient(top, rgba(220,220,220,0.0), rgba(60,60,60,0.8));
		.surface
			bodyRadius = 6px; bodyWidth = 320px;
			.writer
				display inline-block; width bodyWidth; box-shadow 0 -1px 6px #444;
				textarea
					border none; width bodyWidth - 4px; height 50px;

		.tools
			.right
				float right;
			.tool
				display inline-block; border 2px solid #fff; margin 2px 0 1px 4px; border-radius 4px; height 18px; width 24px;
				.icon.draw
					icon(24px, 20px, 'white/98-palette.png')
				.icon.write
					icon(24px, 22px, 'white/09-chat-2.png')
				.icon.photo
					icon(24px, 18px, 'white/86-camera.png')
			.tool.send
				float right; margin-right 1px;

.draw-composer
	line-height 0; z-index 1;
	position absolute; bottom 0;
	.controls-pos
		position absolute; bottom 0; z-index 1;
	.controls
		line-height 20px; background linear-gradient(top, blueLight, blueDark); padding 2px 0; box-shadow -1px 0 3px #000; width 100%; height 33px;
		.picker
			position absolute;
		.colorPicker
			bottom 45px; left 5px;
		.penPicker
			bottom 45px; left 55px; box-shadow 0 0 1px #ccc;
		.right
			float right; position relative; bottom 1px;
			.button
				margin 0 2px; padding 4px 10px 6px;
	.close.button
		position absolute; z-index 1; font-size 14px; padding 11px 7px;

.clear
	clear both

.ghostTown
	text-align center; color #fff; text-shadow 0 1px 0 #888; margin 10px 0; font-size 17px;
.ghostTown.dark
	color #333; text-shadow 0 1px 0 #ccc;

.searchResults
	absolute top 0 left 0; background #fff; width 100%; box-shadow 0 1px 4px #333;
	overflow-y scroll; -webkit-overflow-scrolling touch; overflow-x hidden;
	.people
		.person
			padding 4px 4px 2px; clear both; background linear-gradient(top, #fff, #ececec); cursor pointer;
			.face
				float left;
			.name
				float left; margin 0 0 0 4px;
		.person:last-child
			padding-bottom 4px;
