@import "./normalize"
@import "./macros"
@import "./conversation"
@import "../fonts/opensans-all"
@import "../fonts/yellowtail-regular"

.blue
	background blueLight; color blueDark; border-color blueDark;

.green
	background greenLight; color greenDark; border-color greenDark;

.yellow
	background yellowLight; color yellowDark; border-color yellowDark;

.red
	background redLight; color redDark; border-color redDark;

body
	background #000; tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none;

#viewport
	position relative; overflow hidden;
	> div
		absolute top 0 left 0; width 100%; height 100%;

.dogoApp
	font-family "Open Sans"; font-weight 300;
	color #333;
	border-radius 12px 12px 0 0;
	// background linear-gradient(top, color2, #fff);
	// background url('/blowtorch/img/background/planks-vertical.jpg');
	// background url('/blowtorch/img/background/grass-vertical.jpg');
	background url('/blowtorch/img/background/bark-vertical.png');
	// background url('/blowtorch/img/background/orange-linen.png');
	background-size 100% 100%;
	height 100%; overflow hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/Copy of UIWebView */
	-webkit-transition -webkit-transform .3s;

.scroller-head
	z-index 1; box-shadow 0 2px 3px #222;
.scroller-head.flat
	box-shadow none;

logo()
	disable-select(); cursor default; font-family 'Yellowtail', cursive;
	text-shadow 0 1px 0 rgba(255,255,255,.25); color #282424;

	
.head
	height 100%; width 100%; overflow hidden;
	border-radius 5px 5px 0 0;
	background url('/blowtorch/img/background/red-linen.jpg'); background-size 327px 327px;
	borderTop 1px solid #E3E9ED;
	.title
		logo(); padding 0 4px;
		font-size 30px; text-align center; padding 1px 0 0 0;
	.back.icon
		absolute top left; icon(28px, 28px, 'xtras-white/36-circle-west.png', 8px, 8px);
	.search-control
		.search, .search.active
			absolute top right;
			.icon
				icon(32px, 21px, 'white/112-group.png', 12px, 8px);
		.input
			inputWidth = 300px;
			width inputWidth; height 30px;
			absolute top 4px right; background #fff;
			box-shadow buttonShadow;
			border 2px solid color3; border-radius 3px;
			-webkit-transform translateX(inputWidth + 30px)
			-webkit-transition -webkit-transform .4s;
	.search-control.expand
		.input
			-webkit-transform translateX(3px)
	.devBar
		absolute top right 50px;
		.button
			margin 4px 2px 0;
	
	
.connectView, .invite
	text-align center; width 100%;
	.button
		font-size 22px; text-shadow textShadow; margin 0 auto; padding 6px 8px 8px;
	.button.active
		text-shadow none;
	.notice
		width 280px; margin 0 auto; color #fee;
		.link
			color rgba(0, 65, 204, 0.75);
.connectView
	background color4; z-index 2;
	.button
		margin 210px auto 25px; width 120px; 
.invite .button
	width 210px;

.errorNotice
	width 100%;
	.content
		background rgba(255, 186, 186, 0.85);
		 text-align center; padding 8px 0; border 1px solid; margin 0 3px; border-radius: 0 0 4px 4px;
		.close.icon
			icon(20px, 20px, 'xtras-white/37-circle-x.png'); float right; margin 1px 4px 0;

.home
	.ghostTown
		position relative; top 10px; margin-left 20px;
		.arrow.icon
			icon(23px, 17px, 'white/213-reply.png');
			-webkit-transform: rotate(120deg);
			margin 0 0 1px 6px; display inline-block;
			
	.section
		.header
			height 40px; background color4; color #fff; // gradient(color4, color5); 
			.label
				padding 9px; text-shadow textShadow;
	.conversations
		min-height 254px;
		.messageBubble
			.name
				padding 3px 5px 0 5px;
			.body
				padding 0px 5px 0 5px; light()
			.unreadDot
				width 20px; height 20px; background color1; border-radius 10px;
				float right; margin 15px 8px 0 0; display none;
		.messageBubble.hasUnread .unreadDot
				display block;
		.youStarted
			light-italic()
	.friends
		padding 1px 0 0 2px;
		.face
			float left; margin 2px 2px 1px 1px;
	
.composer
	position absolute; bottom 0; width 320px; padding 0;
	.surface
		bodyRadius = 6px; bodyWidth = 320px;
		.writer
			display inline-block; width bodyWidth; box-shadow 0 -1px 6px #444;
			textarea
				border none; width bodyWidth - 4px; height 50px;

	.tools
		.closeTextInput
			absolute bottom 0 right 0; width 40px; height 40px; background linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
			.icon
				absolute bottom 9px right 6px; icon(22px, 22px, 'white/298-circlex.png')
		.right
			float right;
		.tool
			display inline-block; margin 2px 0 1px 4px; border-radius 4px; height 18px; width 24px; padding 4px 8px 6px;
			.icon.draw
				icon(24px, 20px, 'white/98-palette.png')
			.icon.write
				icon(24px, 22px, 'white/09-chat-2.png')
			.icon.photo
				icon(24px, 18px, 'white/86-camera.png')
		.tool.send
			float right; margin-right 1px;

.loading-wrapper
	absolute top 0 right 5px; width 31px; height 31px; border-radius 0 0 4px 4px; border 1px solid rgba(blueDark, .7);
	background rgba(blueDark, .5); z-index 1; transition -webkit-transform 0.5s;
	.icon
		absolute top 2px left 3px; icon(26px, 26px, 'white/171-sun.png'); animate-rotation(1.5s)

.loading
	text-align center; logo();


.clear
	clear both

.ghostTown
	text-align center; color #fff; text-shadow 0 1px 0 #888; margin 10px 0; font-size 17px;
.ghostTown.dark
	color #333; text-shadow 0 1px 0 #ccc;

.searchResults
	absolute top 0 left 0; background #fff; width 100%; box-shadow 0 1px 4px #333;
	overflow-y scroll; -webkit-overflow-scrolling touch; overflow-x hidden;
	.people
		.person
			padding 4px 4px 2px; clear both; background linear-gradient(top, #fff, #ececec); cursor pointer;
			.face
				float left; width faceDim*2; height faceDim*2; background-size faceDim*2 faceDim*2;
			.name
				float left; margin 0 0 0 4px;
		.person:last-child
			padding-bottom 4px;

.link
	color blueDark; text-decoration none;
.link:active, .link:hover
	text-decoration underline;