@import "./colors"

buttonRadius = 4px;
.button
	display inline-block; text-align center;
	padding 3px 8px 5px; border-radius buttonRadius;
	color #fff;
	gradient(buttonFrom, buttonTo);
	box-shadow 0 2px 0 buttonBoxShadow;
	text-shadow 0 -1px 0 buttonTextShadow;
	-webkit-transform translate3d(0,0,0);
	// -webkit-transition -webkit-transform 1ms; this may be necesary to force button style to update if inside of a parent with transitioned transform on ios...
.button.active, .button.selected
	box-shadow 0 0px 0; -webkit-transform translate3d(0,2px,0);
.button.secondary
	background secondaryButton;
	box-shadow 0 2px 0 secondaryButtonBoxShadow;
.button.secondary.active, .button.secondary.selected
	box-shadow 0 0px 0 secondaryButtonBoxShadow;

.dom-buttom
	cursor pointer;
