buttonFrom = #2AA7FF
buttonTo = lighten(#004399, 10%)
buttonBoxShadow = #142C71
buttonTextShadow = #6993AA
secondaryButton = #00C6E2
secondaryButtonBoxShadow = #0080C0

cornerActive()
	background lighten(buttonTo, 5%)

textBorderBase = #1A84BB
textBorder1 = darken(textBorderBase, 20%)
textBorder2 = textBorderBase
textBorder3 = lighten(textBorderBase, 5%)
textBorder4 = darken(textBorderBase, 15%)

appBackgroundFrom = #52A0FF
appBackgroundTo = #BBE4FF

