.clear
	clear both

body
	tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none;

.ghostTown
	color rgb(30,114,173);
	text-align center; font-size 20px; margin-top 125px;

.link
	color blueDark; text-decoration none;
.link.active, .link.hover
	text-decoration underline;

.icon
	disable-select(); display inline-block;

.face
	.memberRibbon
		width 16px; height 16px; float right; margin 32px 0 0;

#errorNotice
	color redDark; z-index 1; font-weight 300;
	.content
		background rgba(255, 210, 210, 0.92);
		padding 8px; border 1px solid; margin 0 3px; border-radius: 0 0 4px 4px;
		.header
			min-height 40px;
			.title
				font-size 20px; text-shadow 0 1px 0 #fff;
			.close
				display inline-block;
