.clear
	clear both

body
	tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none;

.ghostTown
	text-align center; color #fff; text-shadow 0 1px 0 blueDropShadowColor; font-size 20px; margin-top 125px;

.link
	color blueDark; text-decoration none;
.link.active, .link.hover
	text-decoration underline;

.icon
	disable-select(); display inline-block;

.face
	.memberRibbon
		width 16px; height 16px; float right; margin 32px 0 0;
