.clear
	clear both

body
	tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none;

.ghostTown
	text-align center; color #fff; text-shadow 0 1px 0 #888; font-size 20px;
.ghostTown.dark
	color #333; text-shadow 0 1px 0 #ccc;

.link
	color blueDark; text-decoration none;
.link.active, .link.hover
	text-decoration underline;