faceDim = 100px
.face
	width faceDim; height faceDim; background-size faceDim faceDim;
	.member-ribbon
		width 16px; height 16px; background url("/static/img/badge.png"); float right; margin 32px 0 0;

small-face()
	float left; border-radius 3px; margin 0 0 0 -56px; width faceDim; height faceDim; border 0; box-shadow 0 1px 0 #BFC79F;

