.clear
	clear both;

.centered, .center
	text-align center;

.disableSelect
	-webkit-touch-callout none;
	-webkit-user-select none;
	-khtml-user-select none;
	-moz-user-select none;
	-ms-user-select none;
	-o-user-select none;
	user-select none;

.info
	color rgb(30,114,173); text-align center;

