.clear
	clear both;

.centered, .center
	text-align center;

.disableSelect
	-webkit-touch-callout none;
	-webkit-user-select none;
	-khtml-user-select none;
	-moz-user-select none;
	-ms-user-select none;
	-o-user-select none;
	user-select none;

.info
	color #555559; text-shadow:0 1px 0 rgba(255,255,255,1); text-align center;

#tags-overlay .tags-overlay-content
	text-align center; font-size 18px; color #fff; text-shadow 0 1px 1px rgba(0,0,0,.9);

.ellipsis
	overflow hidden; text-overflow ellipsis;