#errorNotice
	color redDark; z-index 1; font-weight 300;
	.content
		background rgba(255, 210, 210, 0.92);
		padding 12px; border 1px solid; border-radius: 0 0 4px 4px;
		.header
			min-height 40px;
			.title
				font-size 20px; text-shadow 0 1px 0 #fff;
			.close
				display inline-block;
