@import "../template/base"

html
	background #CD573E;
	background-image url('/blowtorch/img/background/orange-linen.png');
	height 100%;
	min-height 100%;
body
	background-image -webkit-radial-gradient(140px 150px, circle cover, rgba(255, 240, 240, .3), rgba(255, 255, 255, .05) 400px);
	height 100%;
	min-height 100%;

#logo
	absolute top 80px left 120px; font-size 85px; disable-select(); cursor default;
	// font-family: 'Mrs Sheppards', cursive;
	// font-family: 'Kaushan Script', cursive;
	font-family 'Yellowtail', cursive;
	text-shadow 2px 1px 1px rgba(255,255,255,.5);
	color #282424;

#info
	font-family 'Open Sans'; font-weight 300; font-size 30px; color #fff; text-shadow 0 1px 1px #222;
	absolute top 200px left 180px; disable-select(); cursor default;