@import "../../client/style/normalize"
@import "../../client/style/macros"
@import "../../client/fonts/opensans-all"
@import "../../client/fonts/yellowtail-regular"

html
	font-family "Open Sans"; font-weight 400;
