@import "../style/normalize"
@import "../style/macros"
@import "../style/common"
@import "../style/conversation"
@import "../style/brand"

roundedTop()
	border-radius 6px 6px 0 0

body
	background #000; overflow hidden;

.dogoApp
	font-family "Open Sans"; font-weight 300; font-size 16px;
	color #223;
	roundedTop()
	// background -webkit-radial-gradient(center, circle cover, #FFE2AA 0%, #FF9F36 120%);
	height 100%; overflow hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/Copy of UIWebView */
	-webkit-transition -webkit-transform .3s;
	
	.appBackground
		overflow-y scroll; -webkit-overflow-scrolling touch; absolute top 0 left 0; background #222;
		.link
			color #126EAF;
	
	.appForeground
		// background -webkit-radial-gradient(center, circle cover, #227EBF 0%, lighten(#227EBF, 80%) 200px);
		// #227EBF, #025E9F
		// gradient(#0073FF, lighten(#0073FF, 50%))
		// gradient(#0073FF, lighten(#0073FF, 75%))
		// gradient(lighten(#0073FF, 10%), lighten(#0073FF, 75%))
		gradient(appBackgroundFrom, appBackgroundTo)
		// gradient(#00A3FF, lighten(#30A4FF, 75%))
		// gradient(#0070FF, lighten(#30A4FF, 75%))
		// gradient(lighten(#227EBF, 25%), lighten(#025E9F, 75%))
		height 100%;
		roundedTop()
		.foregroundOverlay
			box-shadow -2px 0 2px rgba(0,0,0,.75);
	
	.errorNotice
		width 100%; color redDark;
		.content
			background rgba(255, 186, 186, 0.85);
			 text-align center; padding 8px 0; border 1px solid; margin 0 3px; border-radius: 0 0 4px 4px;
			.close.icon
				float right; margin 1px 4px 0;
	
	#viewport
		position relative; overflow hidden;
		> div
			absolute top 0 left 0; width 100%; height 100%;

#connectView
	text-align center; width 100%; absolute top 0;
	gradient(lighten(#227EBF, 25%), lighten(#227EBF, 75%));
	z-index 2;
	.logoIcon
		margin 32px 0 0 0;
	.logoName
		// margin 20px 0 0 0;
	.button
		font-size 22px; text-shadow rgba(0,0,0,.3); padding 10px 8px 12px;
		margin 0 auto; width 200px; border-radius 8px;
		margin-bottom 20px;
	.button.active
		box-shadow 0 0 0;
	.notice
		width 240px; margin 0 auto; color #fff; font-size 13px;
	.link
		text-decoration underline;

.head
	height 0;
	.corner
		height 44px; width 50px; overflow hidden;
		gradient(buttonFrom, buttonTo);
		border-top 1px solid rgba(255,255,255, .37);
		border-bottom 1px solid rgba(0, 0, 0, .25);
		box-shadow 0 1px 2px rgba(0, 0, 0, .7);
	.corner.active
		cornerActive()
	.corner.left
		absolute top 0 left 0;
		border-right 1px solid rgba(255,255,255, .05);
		.logoIcon, .back
			absolute top 0 right -2px;
	.corner.right
		border-left 1px solid rgba(255,255,255, .05);
		.search
			absolute top 0 left -2px;
	
	.title
		padding 0 4px; color #fff;
		font-size 21px; text-align center; padding 7px 0 0 0;
		max-width 225px; text-overflow ellipsis; white-space nowrap; overflow hidden; margin 0 auto;
		.logo
			margin-top 4px;
	.search-control
		.input
			inputWidth = 300px;
			width inputWidth; height 30px;
			absolute top 4px right; background #fff;
			border 2px solid color3; border-radius 3px;
			-webkit-transform translateX(inputWidth + 30px)
			-webkit-transition -webkit-transform .4s;
	.search-control.expand
		.input
			-webkit-transform translateX(3px)
	.devBar
		display none;
		absolute top right 50px;
		.button
			margin 4px 2px 0;
	
.homeView
	.logoName .icon
		display block; margin 0 auto;
	.conversations
		min-height 254px; padding 0 0 5px 0;

.searchUI .resultsBox
	absolute top 0 left 0; width 100%; box-shadow 0px -1px 1px rgba(0,0,0,.9);
	gradient(lighten(#227EBF, 75%), lighten(#227EBF, 25%))
	overflow-y scroll; -webkit-overflow-scrolling touch; overflow-x hidden;
	.result
		gradient(#eee, #ccc); float left; overflow hidden;
		.names
			margin -22px 0 10px 4px; color #fff; text-shadow 0 -1px 1px rgba(0,0,0,.5); max-width 100px; overflow hidden;

