@import "../style/normalize"
@import "../style/macros"
@import "../style/common"
@import "../style/conversation"
@import "../style/brand"
@import "../fonts/opensans-all"
@import "../fonts/yellowtail-regular"

body
	background #000; overflow hidden;

.dogoApp
	font-family "Open Sans"; font-weight 300; font-size 14px;
	color #333;
	border-radius 12px 12px 0 0;
	background -webkit-radial-gradient(center, circle cover, #FFF4C4 0%, #FFB714 100%);
	// background -webkit-radial-gradient(center, circle cover, #FFE2AA 0%, #FF9F36 120%);
	height 100%; overflow hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/Copy of UIWebView */
	-webkit-transition -webkit-transform .3s;
	
	.errorNotice
		width 100%; color redDark;
		.content
			background rgba(255, 186, 186, 0.85);
			 text-align center; padding 8px 0; border 1px solid; margin 0 3px; border-radius: 0 0 4px 4px;
			.close.icon
				float right; margin 1px 4px 0;
	
	#viewport
		position relative; overflow hidden;
		> div
			absolute top 0 left 0; width 100%; height 100%;
	
	.tags-scroller-head
		z-index 1; box-shadow 0 1px 2px rgba(0, 0, 0, .7);
	.tags-scroller-head.flat
		box-shadow none;


.connectView
	text-align center; width 100%; absolute top 0;
	background -webkit-radial-gradient(center, ellipse cover, #F7EBB7 0%, #F8BB4D 110%);
	z-index 2;
	.logo
		font-size 60px; padding-top 140px; font-weight bold;
	.slogan
		font-size 20px; color #1A84BB; font-weight 100;
		margin 215px 0 90px 0; -webkit-transform rotate(-7deg) translateX(30px);
	.button
		background #1A84BB; font-size 22px; text-shadow rgba(0,0,0,.3); margin 0 auto; padding 10px 8px 12px;
		margin 0 auto 25px; width 200px; box-shadow 0 5px 0 #143075; border none; font-weight 100; border-radius 8px;
	.button.active
		box-shadow 0 5px 0 rgba(20, 48, 117, 0); -webkit-transform translateY(5px);
	.notice
		width 240px; margin 0 auto; color #F89246; font-size 13px;
		.link
			color #DD4421;

.head
	height 100%; width 100%; overflow hidden;
	border-radius 5px 5px 0 0;
	background #126EAF;
	borderTop 1px solid #E3E9ED;
	.title
		padding 0 4px; color #fff;
		font-size 21px; text-align center; padding 7px 0 0 0;
		max-width 225px; text-overflow ellipsis; white-space nowrap; overflow hidden; margin 0 auto;
		.logo
			margin-top 4px;
	.logoIcon
		absolute top 6px left 6px;
	.back.icon
		absolute top left;
	.search-control
		.search, .search.active
			absolute top right;
		.input
			inputWidth = 300px;
			width inputWidth; height 30px;
			absolute top 4px right; background #fff;
			border 2px solid color3; border-radius 3px;
			-webkit-transform translateX(inputWidth + 30px)
			-webkit-transition -webkit-transform .4s;
	.search-control.expand
		.input
			-webkit-transform translateX(3px)
	.devBar
		display none;
		absolute top right 50px;
		.button
			margin 4px 2px 0;
	
.homeView
	.loading
		relative top 120px;
	.ghostTown
		position relative; top 10px; margin-left 20px;
	.conversations
		min-height 254px; padding-top 1px

.homeView .conversation, .searchResults .conversation
	padding 4px 4px 0 4px;
	.name
		text-shadow: 0 1px 0 #ffffff;
	.body
		padding 0 8px 6px; light()
	.unreadDot
		width 20px; height 20px; background color1; border-radius 10px;
		float right; margin 15px 8px 0 0; display none;
	.unreadDot.hasUnread
		display block;
	.youStarted
		light-italic()
	.face
		float left; margin-right 4px;

.searchResults
	absolute top 0 left 0; background #fff; width 100%; box-shadow 0 1px 4px #333;
	overflow-y scroll; -webkit-overflow-scrolling touch; overflow-x hidden;

